<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.MenuDao">
    <resultMap id="a1" type="Menu">
        <result column="menu_parent_id" property="menuId"/>
        <result column="parent_name" property="menuName"/>
        <collection property="children" ofType="Menu">
            <result column="menu_id" property="menuId"/>
            <result column="menu_name" property="menuName"/>
            <result column="menu_Url" property="menuUrl"/>
            <result column="menu_ParentId" property="menuParentId"/>
        </collection>
    </resultMap>

    <select id="findAllMenu" resultMap="a1">
        SELECT
            c1.*,
            c2.parent_name
        FROM
            cmfz_menu c1
            RIGHT JOIN (
                SELECT menu_id parent_id, menu_name parent_name FROM cmfz_menu WHERE menu_parent_id IS NULL ) c2
                ON c1.menu_parent_id = c2.parent_id;
    </select>
</mapper>
